GOOGLE_APPLICATION_CREDENTIALS=[path-to-json-credentials]
GCS_BUCKET_NAME=big_earth
GCS_BLOB_NAME=test-blob

#export PROJECT_ID=big-earth-252219
#export HOSTNAME=us.gcr.io
#export BASE_IMAGE_NAME=$HOSTNAME/$PROJECT_ID