GOOGLE_APPLICATION_CREDENTIALS=[path-to-json-credentials]

GCS_BUCKET_NAME=big_earth
GCS_TARFILE_BLOB_NAME=BigEarthNet-v1.0.tar.gz
UNCOMPRESSED_BLOB_PREFIX=test_run

DISK_PATH=/big-earth-data/data/big_earth

SHOULD_DOWNLOAD_TARFILE=False
SHOULD_EXTRACT_TARFILE=False
SHOULD_UPLOAD_TIFF_AND_JSON_FILES=False
SHOULD_AGGREGATE_METADATA=False
SHOULD_AGGREGATE_IMAGES_TO_NPY=False
SHOULD_AGGREGATE_IMAGES_TO_PNG=False
SHOULD_COMPUTE_BAND_STATS=True
SHOULD_UPLOAD_PNG_FILES=False
NUM_WORKERS=20